{% extends 'admin/base_site.html' %}

{% block content %}
  <main class="container">
      <div class="row">
          <div class="col-md-6 offset-md-4 mt-5">
              <h1 class="text-center">Registrar Usuario</h1>
              <form action="/admin/mantenimientoSLOGIN/usuario/add/" method="POST" class="card card-body">
                  {% csrf_token %}
  
                  <div class="mb-3">
                      <label for="id_username">Usuario:</label>
                      {{ adminform.username }}
                  </div>
  
                  <div class="mb-3">
                      <label for="id_email">Correo electrónico:</label>
                      {{ adminform.email }}
                  </div>
  
                  <div class="mb-3">
                      <label for="id_password1">Contraseña:</label>
                      {{ adminform.password1 }}
                  </div>
  
                  <div class="mb-3">
                      <label for="id_password2">Confirmar contraseña:</label>
                      {{ adminform.password2 }}
                  </div>
  
                  <div class="mb-3">
                      <label for="id_tipo_usuario">Tipo de usuario:</label>
                      {{ adminform.tipo_usuario }}
                  </div>
  
                  <button class="btn btn-primary" type="submit">Registrar</button>
              </form>
          </div>
      </div>
  </main>
{% endblock %}
