/* Estilos generales de la barra lateral */
.sidebar {
    background-color: #333; /* Fondo gris */
    color: #fff; /* Letras blancas */
    width: 250px; /* Ancho de la barra lateral */
    position: fixed;
    height: 100%;
    overflow-y: auto; /* Para habilitar el desplazamiento si la barra lateral es más larga que la pantalla */
}

/* Estilos del encabezado */
.sidebar-header {
    background-color: #444; /* Fondo gris un tono más oscuro */
    text-align: center;
    padding: 20px 0;
}

.sidebar-header h3 {
    font-size: 1.5rem;
    margin: 0;
}

/* Estilos de la lista de navegación */
.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 0;
    text-align: left;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
}

/* Estilos de los íconos */
.sidebar i {
    margin-right: 10px;
}

/* Estilos para hacerlo responsive */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar ul {
        text-align: center;
    }

    .sidebar ul li {
        padding: 15px 0;
    }
}
/* Estilos del contenido principal */
.main-content {
    margin-left: 250px; /* Ancho de la barra lateral */
    padding: 20px;
}

.mi-footer {
    background-color: #333; /* Fondo gris */
    color: #fff; /* Letras blancas */
    padding: 10px; /* Añade un espacio interno al footer */
    text-align: center; /* Centra el contenido del footer */
    position: fixed; /* Fija el footer en su posición */
    bottom: 0; /* Lo coloca en la parte inferior de la pantalla */
    width: 250px; /* Mismo ancho que la barra lateral */
    z-index: 999; /* Asegura que el footer esté por encima de otros elementos */
}