/* Estilos para la tabla */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 2px solid black;
  padding: 10px;
  text-align: center; /* Centrar el contenido de las celdas */
}

thead tr {
  background-color: #fcee21f7; /* Fondo azul */
  color: #2E8B57; /* Color de letra blanca */
}

tbody tr {
  background-color: #f2f2f2; /* Fondo gris claro para las filas de datos */
  color: black; /* Color de letra negra */
}

td {
  font-weight: bold; /* Hace que el texto de los encabezados sea negrita */
}

/* Estilos de la tabla en pantallas pequeñas */
@media screen and (max-width: 600px) {
    table {
      display: block;
      overflow-x: auto;
    }
  
    th, td {
      display: block;
      text-align: center;
    }
  
    /* Ajustar el ancho de las celdas */
    th:nth-child(1),
    td:nth-child(1) {
      width: 30%;
    }
  
    th:nth-child(2),
    td:nth-child(2) {
      width: 30%;
    }
  
    th:nth-child(3),
    td:nth-child(3) {
      width: 40%;
    }
  
    /* Ocultar las celdas de encabezado que no son necesarias en pantallas pequeñas */
    th:nth-child(4),
    td:nth-child(4),
    th:nth-child(5),
    td:nth-child(5),
    th:nth-child(6),
    td:nth-child(6) {
      display: none;
    }
  }
  
/* CSS personalizado para cambiar el color de los bordes de los botones */
.btn-primary {
  background-color: #007BFF; /* Verde */
  border-color: #007BFF; /* Borde Verde */
}

.btn-primary:hover {
  background-color: #0056b3; /* Verde más oscuro cuando se pasa el cursor */
}

.btn-primary:active {
  background-color: #003d80; /* Verde aún más oscuro cuando se hace clic */
}

.btn-modificar {
  background-color: #eccf0e; /* Amarillo claro */
  border-color: #d5ba0d; /* Borde Amarillo */
}

.btn-modificar:hover {
  background-color: #eccf0e; /* Amarillo más oscuro cuando se pasa el cursor */
  border-color: #d5ba0d;
}

.btn-modificar:active {
  background-color: #eccf0e; /* Amarillo aún más oscuro cuando se hace clic */
  border-color: #d5ba0d;
}

.btn-info {
  background-color: #4CAF50; /* Verde */
  border-color: #4CAF50; /* Borde Verde */
}

.btn-info:hover {
  background-color: #2E8B57; /* Verde más oscuro cuando se pasa el cursor */
  border-color: #2E8B57;
}

.btn-info:active {
  background-color: #006633; /* Verde aún más oscuro cuando se hace clic */
  border-color: #006633;
}

/* Estilo personalizado para centrar el modal verticalmente */
.modal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-custom {
  background-color: #707a70e1; /* Color de fondo personalizado para la barra de navegación */
  /* Puedes ajustar el color de fondo a tu preferencia */
}

.seleccion-buttons {
  margin-top: 20px;
  display: none;
}

.reporte-checkbox {
  margin-right: 5px;
}

/* Estilos para los botones de acción */
.btn-success, .btn-danger, .btn-secondary {
  margin-right: 10px;
}

/* Estilos para mostrar las casillas de selección después de hacer clic en "Seleccionar reportes" */
.reporte-checkbox.visible {
  display: block;
}

/* Estilo para el botón de historial */
.btn-historial {
  background-color: #6c757d; /* Color de fondo para el botón de historial */
  border-color: #6c757d; /* Color del borde */
  color: #ffffff; /* Color de texto blanco */
}

.btn-historial:hover {
  background-color: #495057; /* Color de fondo más oscuro al pasar el cursor */
  border-color: #495057;
}

.btn-historial:active {
  background-color: #343a40; /* Color de fondo aún más oscuro al hacer clic */
  border-color: #343a40;
}

/* Estilo personalizado para el contenedor del formulario */
.custom-container {
  border: 1px solid #7dc3a4; /* Borde sutil */
  box-shadow: 0 2px 4px rgba(160, 84, 219, 0.1); /* Sombra sutil */
  padding: 20px; /* Espaciado interno para el contenido */
  border-radius: 5px; /* Bordes redondeados */
  background-color: #0000a4; /* Fondo blanco */
}