{% extends 'base.html' %}

{% block content %}
  <main class="container">
    <div class="row">
      <div class="col-md-6 offset-md-4 mt-5">
        <button></button>
        <h1 class="text-center">Agregar Nuevo Operador</h1>
        <form method="post" enctype="multipart/form-data" class="card card-body custom-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Añadir Operador</button>
        </form>
      </div>
    </div>
  </main>
{% endblock %}