{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1>Inventario</h1>
    </section>
    <p></p>
    {% if inventario %}
    <section class="card card-body">
        <h2>Inventario Actual:</h2>
        <table>
            <thead>
                <tr>
                    <th>Foto de la parte</th>
                    <th>Nombre de la Parte</th>
                    <th>Numero de la Parte</th>
                    <th>Cantidad</th>
                    <th>Último Costo</th>
                    <th>Horas de Uso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for item in inventario %}
                <tr>
                    <td>
                        <img src="{{ item.foto_parte.url }}" alt="Imagen de la parte" style="max-width: 100px;">
                    </td>
                    <td>{{ item.nombre_partes }}</td>
                    <td>{{ item.numero_partes }}</td>
                    <td>{{ item.cantidad_partes }}</td>
                    <td>{{ item.ultimo_costo }}</td>
                    <td>{{ item.horas_uso }}</td>
                    <td>
                        <a href="{% url 'modificar_inventario' inventario_id=item.id %}" class="btn btn-warning" >
                            <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                        </a>
                        <form method="post" action="{% url 'eliminar_inventario' inventario_id=item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="inventario_id" value="{{ item.id }}">
                            <button type="button" class="btn btn-danger eliminar-item" data-inventario-id="{{ item.id }}">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% else %}
        <p>No hay elementos en el inventario.</p>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const eliminarBotones = document.querySelectorAll(".eliminar-item");
    
            eliminarBotones.forEach(function (boton) {
                boton.addEventListener("click", function () {
                    if (confirm("¿Estás seguro de que deseas eliminar este elemento del inventario?")) {
                        // Si se confirma, envía el formulario.
                        boton.closest("form").submit();
                    }
                });
            });
        });
    </script>
</main>
{% endblock %}
  <!-- Añadí el cierre del bloque 'content' aquí -->


