{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Salida de Inventario</h1>
    </section>
    <p></p>
    <div class="col">
        <a class="btn btn-primary" href="{% url 'inventario' %}" style="background-color: green; border-color: green;">
            <i class="fa-solid fa-clipboard" style="color: #ffffff;"></i> Inventario
        </a>
        <a class="btn btn-primary" href="{% url 'inventario_stock' %}" style="background-color: brown; border-color: brown;">
            <i class="fa-solid fa-clipboard" style="color: #ffffff;"></i> Stock
        </a>
    </div>
    <p></p>
    <section class="card card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Foto Parte</th>
                    <th>ID</th>
                    <th>Nombre de Parte</th>
                    <th>Numero de Parte</th>
                    <th>Piezas de Salida</th>
                    <th>Fecha de Salida</th>
                </tr>
                </thead>
                <tbody>
                {% for inventario in inventarios %}
                    <tr>
                    <td>
                        {% if inventario.partes.foto_partes %}
                        <img src="{{ inventario.partes.foto_partes.url }}" alt="Foto de Parte" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ inventario.id }}</td>
                    <td>{{ inventario.partes.nombre_partes }}</td>
                    <td>{{ inventario.partes.numero_partes }}</td>
                    <td>{{ inventario.mantenimiento.piezas_salida }}</td>
                    <td>{{ inventario.mantenimiento.fecha_mantenimiento }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}
