<!-- inventario_stock.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Stock de inventario</h1>
    </section>
    <p></p>
    <div class="col">
        <a class="btn btn-primary" href="{% url 'inventario' %}" style="background-color: green; border-color: green;">
            <i class="fa-solid fa-clipboard" style="color: #ffffff;"></i> Inventario
        </a>
        <a class="btn btn-danger" href="{% url 'inventario_salida' %}"> Salidas
            <i class="fa-solid fa-clipboard" style="color: #ffffff;"></i>
        </a>
    </div>
    <p></p>
    <section class="card card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Foto Parte</th>
                    <th>ID</th>
                    <th>Nombre de Parte</th>
                    <th>Numero de Parte</th>
                    <th>Total de Piezas</th>
                    <th>Costo Total</th>
                </tr>
                </thead>
                <tbody>
                {% for total in totales_list %}
                    <tr>
                        <td>
                            {% if total.parte.foto_partes %}
                                <img src="{{ total.parte.foto_partes.url }}" alt="Foto de Parte" style="max-width: 100px; max-height: 100px;">
                            {% else %}
                                No disponible
                            {% endif %}
                        </td>
                        <td>{{ total.parte.id }}</td>
                        <td>{{ total.parte.nombre_partes }}</td>
                        <td>{{ total.parte.numero_partes }}</td>
                        <td>{{ total.total_piezas }}</td>
                        <td>{{ total.costo_total }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock %}
