{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Entrada de Partes</h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoEntradaModal" >
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i> Nueva Entrada
        </button>
    </div>
    <p></p>
    <section class="card card-body">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Foto Parte</th>
                    <th>Nombre de Parte</th>
                    <th>Numero de Parte</th>
                    <th>Piezas de Entrada</th>
                    <th>Fecha de Entrada</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for item in inventario %}
                    <tr>
                    <td>
                        {% if item.partes.foto_partes %}
                        <img src="{{ item.partes.foto_partes.url }}" alt="Foto de Parte" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ item.partes.nombre_partes }}</td>
                    <td>{{ item.partes.numero_partes }}</td>
                    <td>{{ item.piezas_entrada}}</td>
                    <td>{{ item.fecha_entrada}}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarEntradaModal{{ item.id }}" >
                                    <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                                </button>
                                <a href="#" class="btn btn-danger" onclick="eliminarInventario('{{ item.id }}')">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="pagination justify-content-center">
            <span class="step-links">
                {% if inventario_pagina.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ inventario_pagina.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Página {{ inventario_pagina.number }} de {{ inventario_pagina.paginator.num_pages }}.
                </span>

                {% if inventario_pagina.has_next %}
                    <a href="?page={{ inventario_pagina.next_page_number }}">next</a>
                    <a href="?page={{ inventario_pagina.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </section>

    <div class="modal fade" id="nuevoEntradaModal" tabindex="-1" aria-labelledby="nuevoEntradaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevoEntradaModalLabel">Nueva Entrada</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="PartesInventario_Entrada">Parte:</label>
                        <select class="form-control " name="partes" id="PartesInventario_Entrada" required>
                            <option></option>
                            {% for parte in partes %}
                                <option value="{{ parte.id }}">{{ parte.nombre_partes }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="piezas_entrada">Piezas de entrada:</label>
                        <input type="number" id="piezas_entrada" class="form-control" name="piezas_entrada"  >
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div>


    {% if inventario %}
    {% for item in inventario %}
    <div class="modal fade" id="editarEntradaModal{{ item.id }}" tabindex="-1" aria-labelledby="editarEntradaModalLabel{{ item.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editarEntradaModal{{ item.id }}">Modificar Inventario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'editar_inventario_entrada' inventario_id=item.id%}" enctype="multipart/form-data" id="editarInventarioForm{{ item.id }}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="PartesInventario_Entrada">Parte:</label>
                    <select class="form-control" name="partes" id="PartesInventario_Entrada" required>
                        <option value="" {% if not item.partes %}selected{% endif %}></option>
                        {% for parte in partes %}
                            <option value="{{ parte.id }}" {% if item.partes and item.partes.id == parte.id %}selected{% endif %}>
                                {{ parte.nombre_partes }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="piezas_entrada">Piezas de entrada:</label>
                    <input type="number" id="piezas_entrada" class="form-control" name="piezas_entrada"  value="{{ item.piezas_entrada }}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}


    <script>
        function eliminarInventario(itemId) {
        var confirmar = confirm("¿Estás seguro de que deseas eliminar esta entrada?");
        if (confirmar) {
            // Agregamos un campo oculto para enviar el maquina_id en el formulario POST
            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url 'eliminar_inventario_entrada' inventario_id=0 %}".replace('0', itemId);
            form.style.display = 'none';
            
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = "{{ csrf_token }}";
            
            form.appendChild(csrfTokenInput);
            document.body.appendChild(form);
            
            form.submit();
        }
        }
    </script>
    
</main>
{% endblock %}
