{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Mantenimiento de Partes</h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoMantenimientoModal">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <p></p>
    <section class="card card-body">
        <h3>Historial de Mantenimientos</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha de Mantenimiento</th>
                    <th>ID de Máquina</th>
                    <th>Nombre de Máquina</th>
                    <th>ID de Parte</th>
                    <th>Nombre de Parte</th>
                    <th>Piezas Salida</th>
                    <th>Horas de Máquina</th>
                    <th>Foto Parte</th>
                </tr>
                </thead>
                <tbody>
                {% for mantenimiento in mantenimientos %}
                    <tr>
                    <td>{{ mantenimiento.fecha_mantenimiento }}</td>
                    <td>{{ mantenimiento.maquina.id }}</td>
                    <td>{{ mantenimiento.maquina.nombre_maquina }}</td>
                    <td>{{ mantenimiento.partes.id }}</td>
                    <td>{{ mantenimiento.partes.nombre_partes }}</td>
                    <td>{{ mantenimiento.piezas_salida }}</td>
                    <td>{{ mantenimiento.hrs }}</td>
                    <td>
                        {% if mantenimiento.partes.foto_partes %}
                        <img src="{{ mantenimiento.partes.foto_partes.url }}" alt="Foto de Parte" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="nuevoMantenimientoModal" tabindex="-1" aria-labelledby="nuevoMantenimientoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevoMantenimientoModalLabel">Nueva Mantenimiento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="maquinaSelect">Maquina:</label>
                        <select class="form-control " name="maquina" id="maquinaSelect">
                            <option></option>
                            {% for maquina in maquinas %}
                                <option value="{{ maquina.id }}">{{ maquina.nombre_maquina }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="partes">Parte:</label>
                        <select class="form-control " name="partes" id="partes">
                            <option></option>
                            {% for parte in partes %}
                                <option value="{{ parte.id }}">{{ parte.nombre_partes }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="piezas_salida">Piezas de salida:</label>
                        <input type="number" id="piezas_salida" class="form-control" name="piezas_salida">
                    </div>
                    <div class="mb-3">
                        <label for="hrs">Horas de maquina:</label>
                        <input type="number" id="hrs" class="form-control"name="hrs">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div>

    

    
</main>
{% endblock %}
