{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Mantenimiento de Partes</h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevoMantenimientoModal">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <p></p>
    <section class="card card-body">
        <h3>Historial de Mantenimientos</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Fecha de Mantenimiento</th>
                    <th>Foto Maquina</th>
                    <th>Nombre de Máquina</th>
                    <th>Foto Parte</th>
                    <th>Nombre de Parte</th>
                    <th>Piezas Salida</th>
                    <th>Horas de Máquina</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for mantenimiento in mantenimientos %}
                    <tr>
                    <td>{{ mantenimiento.fecha_mantenimiento }}</td>
                    <td>
                        {% if mantenimiento.maquina.foto_maquina %}
                        <img src="{{ mantenimiento.maquina.foto_maquina.url }}" alt="Foto de Maquina" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ mantenimiento.maquina.nombre_maquina }}</td>
                    <td>
                        {% if mantenimiento.partes.foto_partes %}
                        <img src="{{ mantenimiento.partes.foto_partes.url }}" alt="Foto de Parte" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                        No disponible
                        {% endif %}
                    </td>
                    <td>{{ mantenimiento.partes.nombre_partes }}</td>
                    <td>{{ mantenimiento.piezas_salida }}</td>
                    <td>{{ mantenimiento.hrs }}</td>

                    <td>
                        <div class="btn-group" role="group" aria-label="Acciones">
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#editarMantenimientoModal{{ mantenimiento.id }}" >
                                    <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                                </button>
                                <a href="#" class="btn btn-danger" onclick="eliminarMantenimiento('{{ mantenimiento.id }}')">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                        </div>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="nuevoMantenimientoModal" tabindex="-1" aria-labelledby="nuevoMantenimientoModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevoMantenimientoModalLabel">Nueva Mantenimiento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="SelectMaquinaMantenimiento">Maquina:</label>
                        <select class="form-control " name="maquina" id="SelectMaquinaMantenimiento">
                            <option></option>
                            {% for maquina in maquinas %}
                                <option value="{{ maquina.id }}">{{ maquina.nombre_maquina }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="PartesMantenimiento">Parte:</label>
                        <select class="form-control " name="partes" id="PartesMantenimiento">
                            <option></option>
                            {% for parte in partes %}
                                <option value="{{ parte.id }}">{{ parte.nombre_partes }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="id_piezas_salida">Piezas de salida:</label>
                        <input type="number" id="id_piezas_salida" class="form-control" name="piezas_salida">
                        {% if form.errors.piezas_salida %}
                            <small class="text-danger">{{ form.errors.piezas_salida.0 }}</small>
                        {% endif %}
                        <small id="total_piezas_disponibles" class="text-muted">Disponibles: 0</small>
                    </div>
                    <div class="mb-3">
                        <label for="hrs">Horas de maquina:</label>
                        <input type="number" id="hrs" class="form-control"name="hrs">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
                
            </div>
            
        </div>
        </div>
    </div>
    {% if mantenimientos %}
    {% for mantenimiento in mantenimientos %}
    <div class="modal fade" id="editarMantenimientoModal{{ mantenimiento.id }}" tabindex="-1" aria-labelledby="editarMantenimientoModalLabel{{ mantenimiento.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editarMantenimientoModal{{ mantenimiento.id }}">Modificar Mantenimiento</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'editar_mantenimiento' mantenimiento_id=mantenimiento.id%}" enctype="multipart/form-data" id="editarMantenimientoForm{{ mantenimiento.id }}">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="SelectMaquinaMantenimiento">Maquina:</label>
                    <select class="form-control" name="maquina" id="SelectMaquinaMantenimiento" required>
                        <option value="" {% if not mantenimiento.maquina %}selected{% endif %}></option>
                        {% for maquina in maquinas %}
                            <option value="{{ maquina.id }}" {% if mantenimiento.maquina and mantenimiento.maquina.id == maquina.id %}selected{% endif %}>
                                {{ maquina.nombre_maquina }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="id_piezas_salida">Piezas de salida:</label>
                    <input type="number" id="id_piezas_salida" class="form-control" name="piezas_salida">
                    {% if form.errors.piezas_salida %}
                        <small class="text-danger">{{ form.errors.piezas_salida.0 }}</small>
                    {% endif %}
                    {% if form.instance.inventario %}
                        <small class="text-info">Cantidad disponible: {{ form.instance.inventario.total_piezas }}</small>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="piezas_salida">Piezas de salida:</label>
                    <input type="number" id="piezas_salida" class="form-control" name="piezas_salida" required value="{{ mantenimiento.piezas_salida }}">
                </div>
                <div class="mb-3">
                    <label for="hrs">Horas de maquina:</label>
                    <input type="number" id="hrs" class="form-control"name="hrs" required value="{{ mantenimiento.hrs }}">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}

    <script>
        function eliminarMantenimiento(mantenimientoId) {
        var confirmar = confirm("¿Estás seguro de que deseas eliminar este mantenimiento?");
        if (confirmar) {
            // Agregamos un campo oculto para enviar el maquina_id en el formulario POST
            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url 'eliminar_mantenimiento' mantenimiento_id=0 %}".replace('0', mantenimientoId);
            form.style.display = 'none';
            
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = "{{ csrf_token }}";
            
            form.appendChild(csrfTokenInput);
            document.body.appendChild(form);
            
            form.submit();
        }
        }
    </script>
    

    
</main>
{% endblock %}
