{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Máquinas de {{ nombre_usuario }} </h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevaMaquinaModal">
            <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <p></p>
    <section class="card card-body text-center">
        <div class="container mosaico">
            {% if maquinas %}
                {% for maquina in maquinas %}
                    <div class="maquina card">
                        <img src="{{ maquina.foto_maquina.url }}" alt="{{ maquina.maquina }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ maquina.maquina }} </h5>
                            <h6 class="card-text">{{ maquina.marca }} {{ maquina.modelo }} </h6>
                            <h6 class="card-text">{{ maquina.horas_maquina }} </h6>
                        </div>
                        <div class="btn-group" role="group" aria-label="Botones de acción">
                            <a href="#" class="btn btn-primary" style="background-color: green; border-color: green;">
                                <i class="fa-solid fa-wrench" style="color: #ffffff;"></i>
                            </a>
                            <button type="button" class="btn btn-modificar" data-bs-toggle="modal" data-bs-target="#modificarMaquinaModal{{ maquina.id }}">
                                <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                            </button>
                            <a href="#" class="btn btn-info" style="background-color: black; border-color: black;">
                                <i class="fa-solid fa-qrcode" style="color: #ffffff;"></i>
                            </a>
                            <p></p>
                            <a href="#" class="btn btn-danger" onclick="eliminarMaquina('{{ maquina.id }}')">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No se han registrado máquinas todavía.</p>
            {% endif %}
        </div>
    </section>
    <!-- Modal -->
    <div class="modal fade" id="nuevaMaquinaModal" tabindex="-1" aria-labelledby="nuevaMaquinaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevaMaquinaModalLabel">Nueva Maquina</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="maquina">Nombre de la máquina:</label>
                        <input type="text" name="maquina" class="form-control" id="maquina">
                    </div>
                    <div class="mb-3">
                        <label for="marca">Marca:</label>
                        <input type="text" name="marca" class="form-control" id="marca">
                    </div>
                    <div class="mb-3">
                        <label for="modelo">Modelo:</label>
                        <input type="text" name="modelo" class="form-control" id="modelo">
                    </div>
                    <div class="mb-3">
                        <label for="horas_maquina">Contador de horas:</label>
                        <input type="text" name="horas_maquina" class="form-control" id="horas_maquina">
                        </div>
                    <div class="mb-3">
                        <label for="foto_maquina">Foto del Filtro:</label>
                        <input type="file" name="foto_maquina" class="form-control" id="foto_maquina">
                    </div>
                    <p></p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>

    <!-- Modal -->
    {% if maquinas %}
    {% for maquina in maquinas %}
    <div class="modal fade" id="modificarMaquinaModal{{ maquina.id }}" tabindex="-1" aria-labelledby="modificarMaquinaModalLabel{{ maquina.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modificarMaquinaModal{{ maquina.id }}">Modificar Máquina</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'modificar_maquina' maquina_id=maquina.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="maquina">Nombre de la máquina:</label>
                <input type="text" name="maquina" class="form-control" id="maquina" value="{{ maquina.maquina }}">
            </div>
            <div class="mb-3">
                <label for="marca">Marca:</label>
                <input type="text" name="marca" class="form-control" id="marca" value="{{ maquina.marca }}">
            </div>
            <div class="mb-3">
                <label for="modelo">Modelo:</label>
                <input type="text" name="modelo" class="form-control" id="modelo" value="{{ maquina.modelo }}">
            </div>
            <div class="mb-3">
                <label for="horas_maquina">Contador de horas:</label>
                <input type="text" name="horas_maquina" class="form-control" id="horas_maquina" value="{{ maquina.horas_maquina }}">
            </div>
            <div class="mb-3">
                <label for="foto_maquina">Foto del Filtro:</label>
                <input type="file" name="foto_maquina" class="form-control" id="foto_maquina">
            </div>
            <p></p>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}




    <script>
        function eliminarMaquina(maquinaId) {
        var confirmar = confirm("¿Estás seguro de que deseas eliminar esta máquina?");
        if (confirmar) {
            // Agregamos un campo oculto para enviar el maquina_id en el formulario POST
            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url 'eliminar_maquina' maquina_id=0 %}".replace('0', maquinaId);
            form.style.display = 'none';
            
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = "{{ csrf_token }}";
            
            form.appendChild(csrfTokenInput);
            document.body.appendChild(form);
            
            form.submit();
        }
        }
    </script>

    
    
    
</main>   

    
{% endblock %}