{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Máquinas de {{ nombre_usuario }} </h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevaMaquinaModal">
            Añadir maquina
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Launch demo modal
        </button>
    </div>
    <p></p>
    <section class="card card-body text-center">
        <div class="container mosaico">
            {% if maquinas %}
                {% for maquina in maquinas %}
                    <div class="maquina card">
                        <img src="{{ maquina.foto_maquina.url }}" alt="{{ maquina.maquina }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ maquina.maquina }} </h5>
                            <h6 class="card-text">{{ maquina.marca }} {{ maquina.modelo }} </h6>
                            <h6 class="card-text">{{ maquina.horas_maquina }} </h6>
                        </div>
                        <div class="btn-group" role="group" aria-label="Botones de acción">
                            <a href="#" class="btn btn-primary">
                                <i class="fa-solid fa-key" style="color: #ffffff;"></i>
                            </a>
                            <a href="{% url 'modificar_maquina' maquina_id=maquina.id %}" class="btn btn-modificar">
                                <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                            </a>
                            <form id="eliminarmaquina_{{ maquina.id }}" method="POST" action="{% url 'eliminar_maquina' maquina_id=maquina.id %}">
                                {% csrf_token %}
                                <button type="button" class="btn btn-danger" onclick="mostrarConfirmacion('{{ maquina.id }}')">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </button>
                            </form>
                            <a href="#" class="btn btn-info">
                                <i class="fa-solid fa-qrcode" style="color: #ffffff;"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No se han registrado máquinas todavía.</p>
            {% endif %}
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="nuevaMaquinaModal" tabindex="-1" aria-labelledby="nuevaMaquinaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevaMaquinaModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="maquina">Nombre de la máquina:</label>
                        <input type="text" name="maquina" class="form-control" id="maquina">
                    </div>
                    <div class="mb-3">
                        <label for="marca">Marca:</label>
                        <input type="text" name="marca" class="form-control" id="marca">
                    </div>
                    <div class="mb-3">
                        <label for="modelo">Modelo:</label>
                        <input type="text" name="modelo" class="form-control" id="modelo">
                    </div>
                    <div class="mb-3">
                        <label for="horas_maquina">Contador de horas:</label>
                        <input type="text" name="horas_maquina" class="form-control" id="horas_maquina">
                    </div>
                    <div class="mb-3">
                        <label for="foto_maquina">Foto del Filtro:</label>
                        <input type="file" name="foto_maquina" class="form-control" id="foto_maquina">
                    </div>
                    <p></p>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>

    <!-- Modal para el formulario de nueva_maquina.html -->
    <div class="modal fade" id="nuevaMaquinaModal" tabindex="-1" role="dialog" aria-labelledby="nuevaMaquinaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="nuevaMaquinaModalLabel">Nuevo Maquina</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Contenido del formulario de nueva_maquina.html -->
                    {% include 'nueva_maquina.html' %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            ...
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        </div>
    </div>






    <script>
        // Función para mostrar el cuadro de diálogo de confirmación antes de enviar el formulario
        function mostrarConfirmacion(id) {
        if (confirm("¿Estás seguro de que deseas eliminar este reporte?")) {
            // Si el usuario hace clic en "Aceptar", enviar el formulario de eliminación
            const form = document.getElementById(`eliminarmaquina_${id}`);
            form.submit();
        }
        }
    </script>
    
    
    
</main>   

    
    {% endblock %}