{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1>Partes de {{ maquina.nombre_maquina }} {{ maquina.marca }} {{ maquina.modelo }}</h1>
        <h2>Contador de horas: {{ maquina.contador_horas }}</h2>
        <h3>Ultima actualización:</h3>
    </section>
    <p></p>
    <div class="col">
        <!-- Botón "Añadir nuevo reporte" -->
        <a href="{% url 'panel' %}" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>
        </a>
        <a href="{% url 'nuevo_partes' maquina_id=maquina.id %}" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        </a>
    </div>
    <p></p>
    <section class="card card-body text-center">
        <div class="container mosaico">
            {% if partes %}
            {% for item in partes %}
                
                    <div class="maquina card">
                        <img src="{{ item.foto_partes.url }}" class="card-img-top img-thumbnail" alt="Imagen de la parte" style="max-height: 150px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.nombre_partes }}</h5>
                        <p class="card-text">Número: {{ item.numero_partes }}</p>
                        <p class="card-text">Partes requeridas: {{ item.cantidad_partes }}</p>
                        <p class="card-text">Horas de Uso: {{ item.horas_uso }}</p>
                        <p class="card-text">Horas Restantes: {{ item.horas_restantes }}</p>
                        <a href="{% url 'modificar_partes' partes_id=item.id %}" class="btn btn-warning btn-sm">
                            <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                        </a>
                        <form method="post" action="{% url 'eliminar_partes' partes_id=item.id %}" style="display: inline-block;">
                            {% csrf_token %}
                            <input type="hidden" name="partes_id" value="{{ item.id }}">
                            <button type="button" class="btn btn-danger btn-sm eliminar-item" data-partes-id="{{ item.id }}">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i> 
                            </button>
                        </form>
                    </div>
                    </div>

            {% endfor %}

            {% else %}
                <p>No hay piezas</p>
            {% endif %}
        </div>
        <div class="row">
            <div class="col">
                <nav aria-label="Page navigation example">
                    <ul class="pagination pagination-sm">
                        {% for i in partes.paginator.page_range %}
                            <li class="page-item {% if partes.number == i %}active{% endif %}">
                                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const eliminarBotones = document.querySelectorAll(".eliminar-item");
    
            eliminarBotones.forEach(function (boton) {
                boton.addEventListener("click", function () {
                    if (confirm("¿Estás seguro de que deseas esta pieza?")) {
                        // Si se confirma, envía el formulario.
                        boton.closest("form").submit();
                    }
                });
            });
        });
    </script>
</main>
{% endblock %}
