{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1 class="text-center mt-4">Catálogo de Partes</h1>
    </section>
    <p></p>
    <div class="col">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#nuevaParteModal">
            <i class="fa-solid fa-plus"></i>
        </button>
        <p></p>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar por nombre_partes" aria-label="Buscar" name="nombre_partes">
            <input class="form-control me-2" type="search" placeholder="Buscar por numero_partes" aria-label="Buscar" name="numero_partes">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
        </form>
    </div>
    <p></p>
    <section class="card card-body text-center">
        <div class="container mosaico">
            {% if partes %}
                {% for parte in partes %}
                    <div class="maquina card">
                        <div class="maquina-id">{{ parte.id }}</div>
                        <img src="{{ parte.foto_partes.url }}" alt="{{ parte.nombre_partes }}" class="card-img-top img-fluid">
                        <div class="card-body">
                            <h5 class="card-title">{{ parte.nombre_partes }}</h5>
                            <h6 class="card-text">Número: {{ parte.numero_partes }}</h6>
                            <h6 class="card-text">Horas de vida: {{ parte.horas_vida }}</h6>
                        </div>
                        <div class="btn-group" role="group" aria-label="Botones de acción">
                            <div class="btn-group" role="group" aria-label="Botones de acción">
                                <button type="button" class="btn btn-modificar" data-bs-toggle="modal" data-bs-target="#modificarParteModal{{ parte.id }}">
                                    <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                                </button>
                                <p></p>
                                <a href="#" class="btn btn-danger" onclick="eliminarParte('{{ parte.id }}')">
                                    <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>No existen registros de esta parte.</p>
            {% endif %}
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="nuevaParteModal" tabindex="-1" aria-labelledby="nuevaParteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="nuevaParteModalLabel">Nueva Parte</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre_partes">Nombre de la parte:</label>
                        <input type="text" name="nombre_partes" class="form-control" id="nombre_partes">
                    </div>
                    <div class="mb-3">
                        <label for="numero_partes">Numero de parte:</label>
                        <input type="text" name="numero_partes" class="form-control" id="numero_partes">
                    </div>
                    <div class="mb-3">
                        <label for="horas_vida">Horas de vida:</label>
                        <input type="number" name="horas_vida" class="form-control" id="horas_vida">
                    </div>
                    <div class="mb-3">
                        <label for="foto_partes">Foto del Filtro:</label>
                        <input type="file" name="foto_partes" class="form-control" id="foto_partes">
                    </div>
                    <p></p>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
            
        </div>
        </div>
    </div>

    <!-- Modal -->
    {% if partes %}
    {% for parte in partes %}
    <div class="modal fade" id="modificarParteModal{{ parte.id }}" tabindex="-1" aria-labelledby="modificarParteModalLabel{{ parte.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modificarParteModal{{ parte.id }}">Modificar parte</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" enctype="multipart/form-data" action="{% url 'modificar_partes' parte_id=parte.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre_partes">Nombre de la parte:</label>
                <input type="text" name="nombre_partes" class="form-control" id="nombre_partes" value="{{ parte.nombre_partes }}">
            </div>
            <div class="mb-3">
                <label for="numero_partes">Numero de la parte:</label>
                <input type="text" name="numero_partes" class="form-control" id="numero_partes" value="{{ parte.numero_partes }}">
            </div>
            <div class="mb-3">
                <label for="horas_vida">Horas de vida:</label>
                <input type="number" name="horas_vida" class="form-control" id="horas_vida" value="{{ parte.horas_vida }}">
            </div>
            <div class="mb-3">
                <label for="foto_partes">Foto del Filtro:</label>
                <input type="file" name="foto_partes" class="form-control" id="foto_partes">
            </div>
            <p></p>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    {% endfor %}
    {% endif %}

    <script>
        function eliminarParte(parteId) {
        var confirmar = confirm("¿Estás seguro de que deseas eliminar esta parte?");
        if (confirmar) {
            // Agregamos un campo oculto para enviar el maquina_id en el formulario POST
            var form = document.createElement('form');
            form.method = 'post';
            form.action = "{% url 'eliminar_partes' parte_id=0 %}".replace('0', parteId);
            form.style.display = 'none';
            
            var csrfTokenInput = document.createElement('input');
            csrfTokenInput.type = 'hidden';
            csrfTokenInput.name = 'csrfmiddlewaretoken';
            csrfTokenInput.value = "{{ csrf_token }}";
            
            form.appendChild(csrfTokenInput);
            document.body.appendChild(form);
            
            form.submit();
        }
        }
    </script>

    
</main>

{% endblock %}