{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container py-5">
    <section class="card card-body text-center">
        <h1>Partes</h1>
    </section>
    <p></p>
    <div class="col">
        <!-- Botón "Añadir nuevo reporte" -->
        <a href="{% url 'nuevo_partes' %}" class="btn btn-primary">Añadir partes</a>
    </div>
    <p></p>
    {% if partes %}
    <section class="card card-body">
        <h2 class="card-title">Partes de{{ maquina.nombre_maquina }} </h2>
        <h3 class="card-text">Partes de{{ maquina.contador_horas }} </h3>
        <table>
            <thead>
                <tr>
                    <th>Foto de la Pieza</th>
                    <th>Nombre de la Pieza</th>
                    <th>Numero de la Pieza</th>
                    <th>Cantidad</th>
                    <th>Último Costo</th>
                    <th>Horas de Uso</th>
                    <th>Horas de Restantes</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for item in partes %}
                <tr>
                    <td>
                        <img src="{{ item.foto_partes.url }}" alt="Imagen de la parte" style="max-width: 100px;">
                    </td>
                    <td>{{ item.nombre_partes }}</td>
                    <td>{{ item.numero_partes }}</td>
                    <td>{{ item.cantidad_partes }}</td>
                    <td>{{ item.ultimo_costo }}</td>
                    <td>{{ item.horas_uso }}</td>
                    <td>{{ item.horas_restantes }}</td>
                    <td>
                        <a href="{% url 'modificar_partes' partes_id=item.id %}" class="btn btn-warning" >
                            <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                        </a>
                        <form method="post" action="{% url 'eliminar_partes' partes_id=item.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="partes_id" value="{{ item.id }}">
                            <button type="button" class="btn btn-danger eliminar-item" data-inventario-id="{{ item.id }}">
                                <i class="fa-solid fa-trash" style="color: #ffffff;"></i>
                            </button>
                        </form>
                        
                        
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    {% else %}
        <p>No hay piezas</p>
    {% endif %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const eliminarBotones = document.querySelectorAll(".eliminar-item");
    
            eliminarBotones.forEach(function (boton) {
                boton.addEventListener("click", function () {
                    if (confirm("¿Estás seguro de que deseas esta pieza?")) {
                        // Si se confirma, envía el formulario.
                        boton.closest("form").submit();
                    }
                });
            });
        });
    </script>
    
</main>
{% endblock %}  <!-- Añadí el cierre del bloque 'content' aquí -->


